<p id="sesion"></p>
<table>
    <tr>
        <td>Usuario</td>
        <td><input type="text" name="user" id="user" value="{{ user }}" size="15" maxlength="30"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="text" name="psw" id="psw" value="{{ password }}" size="15" maxlength="30"></td>
    </tr>
</table>
<button id="identificationbt">Submit</button>
